Brlapi==0.6.1
ConceptNet==5.2.1
Cython==0.20.1
Django==1.6.2
Flask==0.10.1
Ghost.py==0.1b2
GitPython==0.3.2.RC1
GnuPGInterface==0.3.2
Jinja2==2.7.2
Mako==0.9.1
MarkupSafe==0.19
MplayerCtrl==0.3.3
MySQL-python==1.2.3
PAM==0.4.2
Pillow==2.4.0
PyAudio==0.2.8
PyOpenGL==3.0.2
PyYAML==3.11
PythonModule==2.1.8
SecretStorage==2.0.0
SimpleCV==1.3
South==0.8.4
Twisted-Core==13.2.0
Twisted-Names==13.2.0
Twisted-Web==13.2.0
Unipath==1.0
Werkzeug==0.9.4
adium-theme-ubuntu==0.3.4
apt-xapian-index==0.45
argparse==1.2.1
assoc-space==0.1
async==0.6.1
blessings==1.6
chardet==2.0.1
colorama==0.2.5
command-not-found==0.3
configglue==1.1.2
configobj==4.7.2
debtagshw==0.1
decorator==3.4.0
defer==1.0.6
dirspec==13.10
discodb==0.1
discodex==0.2
dj-database-url==0.3.0
django-appconf==0.6
django-appmedia==1.0.1
django-audit-log==0.2.3
django-compressor==1.4
django-debug-toolbar==0.9.4
django-easy-maps==0.9
django-easy-pjax==1.2.0
django-extensions==1.3.8
django-flat-theme==0.9.5
django-grappelli==2.3.7
django-guardian==1.2.0
django-libsass==0.2
django-material==0.4.1
django-phonenumber-field==0.5
django-pipeline==1.3.24
django-sass==0.1
django-sendfile==0.3.0
django-simple-rest==1.4.1
django-static-precompiler==0.5.3
django-suit==0.3a1
django-tracking==0.3.5
django-userena==1.3.0
docutils==0.11
duplicity==0.6.23
easy-thumbnails==2.0.1
elementtree==1.2.7-20070827-preview
fhurl==0.1.7
ftfy==3.1.2
futures==2.1.6
geopy==0.99
gitdb==0.5.4
gunicorn==18.0
html2text==2014.4.5
html5lib==0.999
httplib2==0.7.1
importd==0.2.9
ipython==1.2.1
itsdangerous==0.24
keyring==0.6.2
launchpadlib==1.9.8
lazr.authentication==0.1.2
lazr.restfulclient==0.11.2
lazr.uri==1.0.2
libsass==0.5.0
lockfile==0.8
louis==2.5.3
lxml==3.3.3
metanl==1.0b2
mimeparse==0.1.3
nltk==2.0.4
nose==1.3.1
numpy==1.8.2
oauth==1.0.1
oauth2==1.5.211
oauthlib==0.6.1
oneconf==0.3.7
ordered-set==1.1
pexpect==3.1
phonenumbers==6.1.0
piston-mini-client==0.7.5
protobuf==2.5.0
pusher==0.5
pyOpenSSL==0.13
pycrypto==2.3
pycups==1.9.66
pycurl==7.19.3
pyenchant==1.6.5
pygame==1.9.1release
pygobject==3.12.0
pyinotify==0.9.4
pyparsing==2.0.2
pyserial==2.6
pysmbc==1.0.14.1
python-apt==0.9.3.5
python-dateutil==2.2
python-debian==0.1.21-nmu2ubuntu2
pyxdg==0.25
pyzmq==14.0.1
reportlab==3.0
requests==2.2.1
restless==2.0.1
roman==2.0.0
scipy==0.13.3
scss==0.8.73
sessioninstaller==0.0.0
simplegeneric==0.8.1
simplejson==2.1.6
six==1.5.2
smarturls==0.1.3
smmap==0.8.2
software-center-aptd-plugins==0.0.0
ssh-import-id==3.21
stemming==1.0.1
svgwrite==1.1.3
system-service==0.1.6
termcolor==1.1.0
timelib==0.2.3
tornado==3.1.1
unity-lens-photos==1.0
urllib3==1.7.1
virtkey==0.63.0
voiceid==0.2
wadllib==1.2.0
wsgi-intercept==0.5.1
wsgiref==0.1.2
wxPython==2.8.12.1
wxPython-common==2.8.12.1
xdiagnose==3.6.3build2
xkit==0.0.0
xmltodict==0.8.7
yolk==0.4.3
zope.interface==4.0.5
