{% load staticfiles %}

    <div class="point">
        <h3>Sweets</h3>
        <div class="image donut">
            <img src="{% static 'reserved/img/1.jpg' %}" alt="img" class='sprite row-1 col-1'>
            <!-- <span class="icon icon-bookmark"></span> -->
        </div>
        <p>We do our best to make beautiful food served by delicious people. </p>
    </div>


    <div class="point">
        <h3>To Go</h3>
        <div class="image coffee">
            <img src="{% static 'reserved/img/1.jpg' %}" alt="img" class='sprite row-1 col-2'>
            <!-- <span class="icon icon-bookmark"></span> -->
        </div>
        <p>We take orders to sit or to-go. If you're a really busy human <a href="#" class="order-online">order online</a> to skip the queue.</p>
    </div>


    <div class="point">
        <h3>Perculate</h3>
        <div class="image coffee-mug">
            <img src="{% static 'reserved/img/1.jpg' %}" alt="img" class='sprite row-1 col-3'>
            <!-- <span class="icon icon-bookmark"></span> -->
        </div>
        <p>Ask something specific and we'll turn your tasty morning treat into legal crack.</p>
    </div>

    <div class="point">
        <div class="image cup">
            <img src="{% static 'reserved/img/1.jpg' %}" alt="img" class='sprite row-1 col-4'>
            <!-- <span class="icon icon-bookmark"></span> -->
        </div>
    </div>


    <div class="point">
        <div class="image cup-foam">
            <img src="{% static 'reserved/img/1.jpg' %}" alt="img" class='sprite row-2 col-1'>
            <!-- <span class="icon icon-bookmark"></span> -->
        </div>
    </div>


    <div class="point">
        <div class="image grinder">
            <img src="{% static 'reserved/img/1.jpg' %}" alt="img" class='sprite row-2 col-2'>
            <!-- <span class="icon icon-bookmark"></span> -->
        </div>
    </div>


    <div class="point">
        <div class="image cake">
            <img src="{% static 'reserved/img/1.jpg' %}" alt="img" class='sprite row-2 col-3'>
            <!-- <span class="icon icon-bookmark"></span> -->
        </div>
    </div>


    <div class="point">
        <div class="image milk">
            <img src="{% static 'reserved/img/1.jpg' %}" alt="img" class='sprite row-2 col-4'>
            <!-- <span class="icon icon-bookmark"></span> -->
        </div>
    </div>


    <div class="point">
        <div class="image coffee-pot">
            <img src="{% static 'reserved/img/1.jpg' %}" alt="img" class='sprite row-3 col-1'>
            <!-- <span class="icon icon-bookmark"></span> -->
        </div>
    </div>


    <div class="point">
        <div class="image sugar">
            <img src="{% static 'reserved/img/1.jpg' %}" alt="img" class='sprite row-3 col-2'>
            <!-- <span class="icon icon-bookmark"></span> -->
        </div>
    </div>

    <div class="point">
        <div class="image coffee-container">
            <img src="{% static 'reserved/img/1.jpg' %}" alt="img" class='sprite row-3 col-3'>
            <!-- <span class="icon icon-leaf"></span> -->
        </div>
    </div>

    <div class="point">
        <div class="image cold">
            <img src="{% static 'reserved/img/1.jpg' %}" alt="img" class='sprite row-3 col-4'>
            <!-- <span class="icon icon-shield"></span> -->
        </div>
    </div>

    <div class="point">
        <div class="image bean">
            <img src="{% static 'reserved/img/1.jpg' %}" alt="img" class='sprite row-4 col-1'>
            <!-- <span class="icon icon-shield"></span> -->
        </div>
    </div>

    <div class="point">
        <div class="image cookie">
            <img src="{% static 'reserved/img/1.jpg' %}" alt="img" class='sprite row-4 col-2'>
            <!-- <span class="icon icon-shield"></span> -->
        </div>
    </div>

    <div class="point">
        <div class="image tea">
            <img src="{% static 'reserved/img/1.jpg' %}" alt="img" class='sprite row-4 col-3'>
            <!-- <span class="icon icon-shield"></span> -->
        </div>
    </div>

    <div class="point">
        <div class="image tea-pot">
            <img src="{% static 'reserved/img/1.jpg' %}" alt="img" class='sprite row-4 col-4'>
            <!-- <span class="icon icon-shield"></span> -->
        </div>
    </div>

    <div class="quote">
        <div class="overlay"></div>
        <div class="icon"></div>

        &ldquo;Today I said something interesting to somone nice.&rdquo;
    </div>
